<h1 class="page-header">Search Books</h1>
<form action="/books" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="<%= searchOption.title %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label for="publishedAfter">Published After:</label>
            <input type="date" name="publishedAfter" id="publishedAfter" value="<%= searchOption.publishedAfter %>">
        </div>
        <div class="form-item">
            <label for="publishedBefore">Published Before:</label>
            <input type="date" name="publishedBefore" id="publishedBefore" value="<%= searchOption.publishedBefore %>">
        </div>
    </div>
    <div class="form-row form-row-end btn-row">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<hr>
<div>
    <% books.forEach(book => { %>
    <a href="/books/<%= book._id %>">
        <img height="150" width="100" src="<%= book.coverImagePath %>" alt="<%= book.title %>">
    </a>
    <% }) %>
</div>