<h1 class="page-header">Search Authors</h1>
<form action="/authors" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="<%= searchOption.name %>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<hr>
<% authors.forEach(author => { %>
<div class="form-row form-row-end">
    <div class="form-item"><%= author.name %></div>
    <div class="btn-row">
        <a class="btn btn-primary" href="/authors/<%= author._id %>">View</a>
        <a class="btn btn-primary" href="/authors/edit/<%= author._id %>">Edit</a>
        <%- include('../partials/deleteForm', {url: `/authors/${author._id}`}) %>
    </div>
</div>
<% }) %>