<h1 class="page-header">Search Authors</h1>
<form action="/authors" method="GET">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= searchOption.name %>">
    <button type="submit">Search</button>
</form>
<hr>
<% authors.forEach(author => { %>
<div><%= author.name %></div>
<div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= author._id %>">View</a>
    <a class="btn btn-primary" href="/authors/edit/<%= author._id %>">Edit</a>
    <%- include('../partials/deleteForm', {url: `/authors/${author._id}`}) %>
</div>
<% }) %>